@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    /* background-color: lightskyblue;  */
}
body {
    margin: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    width: 300px;
    background-color: #fff;
    border-radius: 16px;
      
}
.img-qr {
    /* top: 50%;
    left: 50%; */
    width: 100%;
    border-radius: 30px;  
}
.img-qr-area {
    
}
img.img-qr {
    padding: 20px;
}

.infomationArea{
    font-size: 14px;
    left: 5px;
    
    
}

h2 {
    margin: 0;
    padding: 0 20px;
    text-align: center;
      
}
    
.informationArea--description {
    color: rgb(109, 109, 109);
    margin: 0;
   
}

h4 {
    padding: 25px;
    font-size: 15px;
    height: 80px;
    padding: 0 20px;
    text-align: center;
    margin-top: 20px;

}


/* html {
    /*color: #fff;*/
    /* font-size: 16px;
    width: 400px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(3, 192, 206, 0.473);  
}*/